
.tec{
    background-color: white;
    text-align: center;
}
.tec :hover{
    background-color: orangered;
  /*  transform: translateY(-5px); */
    text-align: center;
    color:white;      
}

.boxProcess {
  background-color: white;
  text-align: center;
}


.boxProcess > .imgMovie{
  background-color: #efefef;
  background-image: url('../img/icons/icon-bg-1.png');
  background-repeat: no-repeat;
  background-position: center;  
  width: 200px;
  height:160px;
  border-radius: 50%;
  box-shadow:  0px 5px 20px 10px #efefef;  
}

.colorText{
  filter: invert(64%) sepia(72%) saturate(3753%) hue-rotate(347deg) brightness(100%) contrast(102%);
}

.imgMovie:hover {
  background-color: #edb7b7 ;
  background-image: url('../img/icons/icon-bg-2.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 200px;
  height: 160px;
  border-radius:50;
  box-shadow: 0px 5px 20px 10px #edb7b7
}

.colorText1 {
  filter: invert(100%);
}

.formLabel {
  font-size: 18px;
  margin-bottom: 10px;
  padding: 15px;
  display: inline-block;
}

.footer{
  background-image: url('../img/shape/shape-45.png');
  left: 30;
  right:30;
}

/* mobile */
@media (min-width:480px) {
  svg {
    fill:white !important;
   }
 
  .linkFix{
    font-weight:  bold !important;
    color:black !important;
  }
  .linkScroll{
    font-weight:  bold !important;
    color:black !important;
  }
  }
  /* tablet */
  @media (min-width:768px) {
    svg {
      fill:white !important;
     }
    .linkFix{
      font-weight: bold !important;
      color:black !important;
      
    }
    .linkScroll{
      font-weight: bold !important;
      color:black !important;
    }  
  }
  /* Laptop */
  @media (min-width:1024px) {
    svg {
      fill:white !important;
     }
    .linkFix{
      font-weight: bold !important;
      color:white !important;
    }
    .linkScroll{
      font-weight: bold !important;
      color:black !important;
    }
  }
  /* desktop */
  @media (min-width:1280px) {
    svg {
      fill:white !important;
     }
    .linkFix{
      font-weight: bold !important;;
      color:white !important;
    }
    .linkScroll{
      font-weight: bold !important;
      color:black !important;
    }  
  }


