.App { 
  background-image:url('../src/img/shape/shape-55b.png'),url('../src/img/shape/shape-56b.png'); 
  background-position:210% -110%,188% -88%;
  background-position-y: top,top;
  background-repeat: no-repeat;
  background-attachment: 'fixed';
  /* overflow: hidden; */
 
 
   
  /* text-align: center; */   
}

/* @media(min-width:650px){
  .App{
    background-image:url('../src/img/shape/shape-55b.png'),url('../src/img/shape/shape-56b.png'); 
    background-position-x:210% -110%,188% -88%;
    background-repeat: no-repeat;
    background-attachment: 'fixed'; 
  }
} */


.contect-box h1{
  width: 570px;
  height: 280px;
  text-align:left;
  margin-top: 50px;
  position:relative;
  font-size: 60px;
  line-height: 70px;
  font-weight: 700;
  margin-bottom: 24px;
}
.contect-box p{
  width:550px;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 40px;
}

.tecnologie h2{
  position: relative;
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
    padding-bottom: 16px;
    margin: 0px;
    text-align: center;   
}

.processo h2{
  position: relative;
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
    padding-bottom: 16px;
    margin: 0px;
    text-align: center;   
}

.box1-skills{
/* background-image:url("../src/img/shape/shape-58.png"),url("../src/img/shape/shape-57.png"); */
background-image:url("../src/img/shape/shape-57.png");
background-repeat: cover;
overflow: hidden;
margin-left: -9%;
margin-right: -9%;
}

.box2-skills{
background-image:url("../src/img/shape/shape-58.png");
background-repeat: no-repeat;
background-position: bottom;
margin-left: -9%;
margin-right: -9%;
overflow: hidden;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.map{
  position: 'relative';
}

.qMaps {
  margin: 50px; 
    width: 80wh;
    height: 80vh;
    position: 'absolute'; 
    top: 0;
    left: 0 ;  
    z-index: 'index' 1;
}
.leaflet-container {  
  width: 80wh; 
  height: 80vh;    
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
