
/* mobile */
@media (min-width:480px) {
  .boxBanner{
    width: 33rem;
    margin-top:15%;
  }
  .boxBanner h1{
    text-align:left;
     font-size:3rem;
     font-weight:bold;
  }
.boxBanner p{
  text-align:left;
  font-size:'1.12rem';
} 

}

/* tablet */
@media (min-width:768px) {
  .boxBanner{
    width: 33rem;
    margin-top:15%;
  }
  .boxBanner h1{
    text-align:left;
     font-size:3.6rem;
     font-weight:bold;
  }
.boxBanner p{
  text-align:left;
  font-size:'1.12rem';
}

}

/* Laptop */
@media (min-width:1024px) {
  .boxBanner{
    width: 33rem;   
  }
  .boxBanner h1{
    text-align:left;
     font-size:3.6rem;
     font-weight:bold;
  }
  .boxBanner p{
    text-align:left;
    font-size:1.12rem;
  } 
  
}

/* desktop */
@media (min-width:1280px) {
  .boxBanner{
    width: 33rem;   
  }  
  .boxBanner h1{
    text-align:left;
     font-size:3.6rem;
     font-weight:bold;
  }
  .boxBanner p{
    text-align:left;
    font-size:'1.12rem';
  }  
  
}

.tecnologie h2{
  position: relative;
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
    padding-bottom: 16px;
    margin: 0px;
    text-align: center;   
}

.processo h2{
  position: relative;
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
    padding-bottom: 16px;
    margin: 0px;
    text-align: center;       
}

.box1-skills{
/* background-image:url("../src/img/shape/shape-58.png"),url("../src/img/shape/shape-57.png"); */
background-image:url("../src/img/shape/shape-57.png");
background-repeat: cover;
overflow: hidden;
margin-left: -9%;
margin-right: -9%;
}

.box2-skills{
background-image:url("../src/img/shape/shape-58.png");
background-repeat: no-repeat;
background-position: bottom;
margin-left: -9%;
margin-right: -9%;
overflow: hidden;
}
.map{
  position: 'relative';
}

.qMaps {
  margin: 50px; 
    width: 80wh;
    height: 80vh;
    position: 'absolute'; 
    top: 0;
    left: 0 ;  
    z-index: 'index' 1;
}
.leaflet-container {  
  width: 80wh; 
  height: 80vh;    
}

.bottonscroll{
  position: fixed; 
  /* width: 100%; */
  right: 5%;
  bottom: 40px;
  /* height: 20px; */
  font-size: 3rem;
  z-index: 1;
  cursor: pointer;  
}


